{% load cms_tags menu_tags i18n sekizai_tags %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% page_attribute page_title %}{% endblock %} | Site Name</title>
    <meta name="description" content="{% block description %}{% page_attribute meta_description %}{% endblock %}">
    <meta name="author" content="Bitmazk Pte. Ltd.">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    {% block extracss %}{% endblock %}
    {% render_block "css" %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL}}apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}apple-touch-icon-114x114.png">

    <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXXX-XX']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_gat._anonymizeIp']);
      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="container">
                <div id="logo" class="four columns alpha">
                    <a href="/">
                        <div class="logo">
                            <span>FancyCo Pte. Ltd.</span>
                        </div>
                    </a>
                </div>
                <div class="navigation eight columns alpha">
                    <ul>
                        {% show_menu %}
                    </ul>
                </div>
                <div class="four columns alpha">
                    {% language_chooser %}
                </div>
            </div>
        </header>
        <hr />
        <div id="body" role="main">
            {% block main %}
            <div class="container">
                <div class="sixteen columns alpha">
                    {% placeholder "main" %}
                </div>
            </div>
            {% endblock %}
        </div>
        <hr />
        <footer>
            <div class="container">
                <div class="eight columns alpha">
                    <p>&copy; 2011 FancyCo Pte. Ltd.</p>
                </div>
                <div class="navigation eight columns alpha">
                    <ul>
                        {% show_menu %}
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.0.min.js"><\/script>')</script>
    {% block extrajs %}{% endblock %}
    {% render_block "js" %}
    <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
    </body>
</html>
