"""Settings for ``fabfile.py``.

Replace these settings with your Webfaction username and your desired project
name. Usually both will be the same unless you are deploying multiple Django
apps on the same Webfaction account.

"""
import os


ENV_USER = 'username'
ENV_HOSTS = ['{0}.webfactional.com'.format(ENV_USER), ]
PROJECT_NAME = 'projectname'
VENV_NAME = PROJECT_NAME
GIT_REPO_NAME = '{0}.git'.format(PROJECT_NAME)


DJANGO_APP_NAME = '{0}_django'.format(PROJECT_NAME)
MEDIA_APP_NAME = '{0}_media'.format(PROJECT_NAME)
STATIC_APP_NAME = '{0}_static'.format(PROJECT_NAME)


DB_USER = '{0}_{1}'.format(ENV_USER, PROJECT_NAME)
DB_NAME = DB_USER
DB_PASSWORD = 'XXXXXX'


EMAIL_DEFAULT_FROM_EMAIL = 'info@example.com'
EMAIL_INBOX = '{0}_{1}'.format(ENV_USER, PROJECT_NAME)
EMAIL_PASSWORD = 'XXXXXX'


ADMIN_NAME = 'Your Name'
ADMIN_EMAIL = 'admin@example.com'


# /admin/ will be a fake URL which acts as a honeypot for login attempts from
# hackers. The real admin URL will be /admin-XXXX/ where XXXX should be a
# number that you make up. Any other /admin-XYZ1/ URL will serve as a honeypot
# as well so that it should be impossible for a third party to find out which 
# is the real admin URL.
ADMIN_URL = 'XXXX'


PROJECT_ROOT = os.path.realpath(os.path.dirname(__file__))
DJANGO_PROJECT_ROOT = os.path.realpath(os.path.join(
    PROJECT_ROOT, 'website', 'webapps', 'django', 'project'))
