# These requirements are needed in order to run the initial fabric script.
# We also add very useful packages for effective development here.
# Please note that python-gorun uses inotify which is not available on a mac.

ipython
ipdb
fabric
flake8
coverage
django-coverage
django-extensions
factory_boy

# use this if you are on Ubuntu
# -e git+https://github.com/peterbe/python-gorun.git#egg=gorun
